div {
    display: block;
}

/*body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
   overflow-y: auto;
}*/

body {
    background: #fff;
    color: #333;
    max-width: 1400px;
    margin: 0 auto;

}

.item_type_text {
    font-size: 12pt;
    letter-spacing: .7px;
    line-height: 18pt;
    height: 700px; /* 원하는 높이로 조절 */
    /*overflow-y: auto; /* 내용이 높이를 넘어가면 스크롤 표시 */
    margin: 0 auto;
   /* overflow-x: hidden;*/
    white-space: normal; /* 공백과 줄바꿈 처리 */
    padding-top:20px;

}


p, pre {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wrap_article {
    min-width: min-width: 1200px;
}


/*!
* comment
*/
.comment_write .box_area {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    width: 800px;
}
.link_profile {
    overflow: visible;
    padding: 0;
    position: relative;
    height:30px;
}
.comment_write .editor_wrap {
    font-size: 13px;
    position: relative;
}
.info_comment .comment_head {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 800px;
}
.info_comment {
    background-color: #fff;
    padding: 0 0 124px;
    position: relative;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 800px;
}
.comment_head .tit_comment {
    font-size: 16px;
    font-weight: normal;
    margin-left: -1px;
    padding-top: 4px;
}
.comment_none {
    align-items: center;
    color: #959595;
    display: flex;
    flex-direction: column;
    margin: 52px 0;
    padding-bottom: 8px;
}
.comment_none .txt_none {
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}
.article_contents .info_state.open_comment .wrap_comment_btn {
    padding-bottom: 30px;
}

.article_contents {
    align-items: center;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 42px;
    color: #666;
    display: inline-flex;
    font-size: 13px;
    padding: 8px 23px;
}
.article_contents {
    border-top: 1px solid #eee;
    margin: 0 auto;
    padding: 32px 0;
    width: 800px;
}
.info_state {
    border-top: 1px solid #eee;
    margin: 0 auto;
    padding: 32px 0;
    width: 800px;
}
.article_contents .wrap_comment_btn {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 70px;
}
body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
}

.article_contents .info_state.open_comment .wrap_comment_btn {
    padding-bottom: 30px;
}
.article_contents .wrap_comment_btn {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 70px;
}


button, input, select, textarea {
    vertical-align: middle;
}

.info_state {
     background-color: #fff;
     padding: 0 0 124px;
     position: relative;
     height: 30px;
     margin: 0 auto;
     padding-bottom: 15px;
     width: 800px;

}


#textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none; /* 이 속성은 textarea의 사이즈 조절 핸들을 숨깁니다. */
  padding: 10px;
  box-sizing: border-box;
  }
.content_wrap{
     width: 800px;
    margin: 0 auto;
    padding-top:80px;
}
.comment_write{
  border: 1px solid #bbb;}




  .wrap_comment_btn{
  display:flex;
   justify-content: space-between;
   align-items: center;
   padding: 32px 0 70px;
   margin: 0 auto;
   width:760px
  }



  button {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      outline: none;
  }
a{
cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
    color: black;


  }
  .list_btn{
  padding-bottom: 20px;
    padding-top: 40px;
  }
  .wrap_btn{
  height:30px;}

  .submit_btn{
    border: 1px solid #bbb;
     border-radius: 32px;
     color: #666;
     font-size: 12px;
     height: 32px;
     line-height: 28px;
     width: 52px;
  }


.editor_footer {
   align-items: center;
   border-top: 1px solid #eee;
   display: flex;
   height: 62px;
   justify-content: space-between;
   padding: 0 21px;
}

.info_article{
    color: #6c757d;
    margin-bottom: 40px;
}


.hidden {
      display: none;
}

.list_btn{
    margin: 0 auto;
    width: 800px;
}

.comment_list{
    border-bottom: 1px solid #ddd;

}
.wrap_comment_btn{
    border-bottom: 1px solid #ddd;
}

.btn_like{
align-items: center;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 15px;
    color: #666;
    font-size: 13px;
    padding: 5px 17px;
}
.btn_comment{
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 15px;
    color: #666;
    font-size: 13px;
    padding: 5px 17px;
    display: flex;
    align-items: center;
}

.item_type_text{
 white-space:pre-line;
 }
 .item_img{
  display: flex;
         justify-content: center;
         align-items: center;
         height: auto;
     }

