div {
    display: block;
}

body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
}
body {
    background: #fff;
    color: #333;
}

.item_type_text {
    font-size: 11pt;
    letter-spacing: .8px;
    line-height: 22pt;
 height: 400px; /* 원하는 높이로 조절 */
    overflow-y: auto; /* 내용이 높이를 넘어가면 스크롤 표시 */

}

.item_type_text {
    margin: 0 auto;
    overflow-x: hidden;
    white-space: normal; /* 공백과 줄바꿈 처리 */
}

p, pre {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wrap_article {
    min-width: min-width: 1200px;
}


/*!
* comment
*/
.comment_write .box_area {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    width: 800px;
}
.link_profile {
    overflow: visible;
    padding: 0;
    position: relative;
}
.comment_write .editor_wrap {
    font-size: 13px;
    position: relative;
}
.info_comment .comment_head {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 800px;
}
.info_comment {
    background-color: #fff;
    padding: 0 0 124px;
    position: relative;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 800px;
}
.comment_head .tit_comment {
    font-size: 16px;
    font-weight: normal;
    margin-left: -1px;
    padding-top: 4px;
}
.comment_none {
    align-items: center;
    color: #959595;
    display: flex;
    flex-direction: column;
    margin: 52px 0;
    padding-bottom: 8px;
}
.comment_none .txt_none {
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}
.article_contents .info_state.open_comment .wrap_comment_btn {
    padding-bottom: 30px;
}

.article_contents .wrap_comment_btn .btn_like .btn_comment {
    align-items: center;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 42px;
    color: #666;
    display: inline-flex;
    font-size: 13px;
    padding: 8px 23px;
}
.article_contents .info_state {
    border-top: 1px solid #eee;
    margin: 0 auto;
    padding: 32px 0;
    width: 800px;
}
.article_contents .wrap_comment_btn {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 70px;
}
body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
}

.article_contents .info_state.open_comment .wrap_comment_btn {
    padding-bottom: 30px;
}
.article_contents .wrap_comment_btn {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 70px;
}
blockquote, body, button, code, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul{
    margin: 0;
    padding: 0;
    text-rendering: inherit;
}
button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}
button, input, select, textarea {
    vertical-align: middle;
}

.info_state {
     background-color: #fff;
     padding: 0 0 124px;
     position: relative;
     height: 30px;
     margin: 0 auto;
     padding-bottom: 15px;
     width: 800px;

}