.keywords .keyword_item .keyword_item_txt {

    display:block;
    position: relative;
    /*transform: translateY(-50%);*/

}
.keywords .keyword_item {
    border: 1px solid #eee;
    font-size: 14px;
    height: 119px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 119px;
    /*z-index: 1;*/

}
a {
    color: #333;
    text-decoration: none;
}

/*element.style {*/
/*    left: 600px;*/
/*    top: 240px;*/
/*}*/
.keywords .keyword_list_wrap {
    overflow-x: auto;
    width: 100%;
}
.keywords .keyword_list {
    margin: 46px auto 0;
    position: relative;
    width: 960px;
}