<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/resource/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/resource/css/styles.css}"/>

</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Navigation-->
    <div th:replace="views/navigation"></div>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">

                <div class="col-lg-9">
                    <!-- Post title-->
                    <h2 class="fw-bolder mb-1" th:text="${board.boardTitle}">글제목</h2>
                    <!-- Post categories-->
                    <p th:text="'[' + ${board.category} + '] '">카테고리</p>

                    <div class="text-muted fst-italic mb-2"
                         th:text="${'by ' + board.memberDto.memberId +' · ' + #dates.format(board.createdDate, 'yyyy.MM.dd HH:mm') + ' · 조회 ' + board.boardViews}">
                        게시글 날짜
                    </div>

                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                                              src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."/>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <pre class="fs-5 mb-4" th:text="${board.boardContent}">글내용</pre>
                    </section>
                </div>

                <!-- Comments section-->
                <section>
                    <div class="card bg-light">
                        <div class="card-body">

                            <!-- Comment form-->
                            <div class="d-flex mb-4">

                                <!-- 댓글 작성 폼 -->
                                <div class="comment-form">


                                    <form th:action="@{/board/addComment/{boardSeq}(boardSeq=${boardSeq})}"
                                          method="post">
                                        <input type="hidden" name="boardSeq" th:value="${boardSeq}"/>
                                        <textarea name="commentContent" placeholder="댓글을 입력하세요"></textarea>
                                        <button type="submit">댓글 작성</button>
                                    </form>

                                </div>
                                <div>
                                    <h4>댓글 목록</h4>

                                </div>
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </section>
    </div>
    </div>
    </section>
    <a th:href="@{/board/boardList}">목록으로 돌아가기</a>
</main>
<!-- Footer-->
<div th:replace="views/footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/resource/js/scripts.js}"></script>
</body>
</html>