<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 목록</title>
</head>
<body>
<h1>게시판 글 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
        <th>작성자</th>
        <th>카테고리</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.boardSeq}"></td>
        <td th:text="${board.boardTitle}"></td>
        <td th:text="${board.createdDate}"></td>
        <td th:text="${board.boardViews}"></td>
        <td th:text="${board.memberDto.memberId}"></td>
        <td th:text="${board.category}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
