<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전체글</title>
    <!-- list CSS-->
    <link rel="stylesheet" th:href="@{/resource/css/list.css}"/>
    <link rel="stylesheet" th:href="@{/resource/css/newHome.css}"/>
</head>


<body class="d-flex flex-column">
<main class="flex-shrink-0">

    <!-- Header-->
    <div th:if="${session.loggedIn}">
        <div th:replace="views/fragments/LoggedIn"></div>
    </div>
    <div th:unless="${session.loggedIn}">
        <div th:replace="views/fragments/LoggedOut"></div>
    </div>

    <div class="wrap_contents">
        <div id="wrapArticle" class="wrap_article">
            <div class="info_head">
                <span class="list_name">글목록</span>
                <span class="list_count" th:text="${totalBoardCount}"></span>
            </div>

            <form th:action="@{/board/boardList}" th:object="${boardDto}" method="get">

                <div class="wrap_article_list">
                    <ul class="list_article">
                        <li th:each="board : ${boardList}">
                            <a class="link-dark"
                               th:href="@{/board/boardDetail/{boardSeq}(boardSeq=${board.boardSeq})}">
                                <p class="main_category" th:text="'[' + ${board.category} + '] '">카테고리</p>
                                <span class="title_article" th:text="${board.boardTitle}">제목</span>
                                <p class="truncate" th:text="${board.boardContent}">글내용</p>
                                <div class="text_muted">
                                    <p>
                                        <span class="text_by">by</span>
                                        <span th:text="${board.memberNickname}"></span>
                                        <span>&#8231;</span>
                                        <span th:text="${board.createdDate}"></span>
                                        <span>&#8231;</span>
                                        <span th:text="${'조회 ' + board.boardViews}"></span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
            <script th:inline="javascript">
                // 길이 제한을 위한 스크립트
                var contentElements = document.querySelectorAll(".truncate");

                contentElements.forEach(function(element) {
                    var maxLength = 150; // 최대 길이 설정
                    var content = element.textContent;

                    if (content.length > maxLength) {
                        element.textContent = content.substring(0, maxLength) + " ..."; // 길이 초과시 ...을 추가하여 표시
                    }
                });
            </script>
        </div>
    </div>


</main>

</body>
</html>