<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.board.board.mapper.BoardMapper">

    <insert id="postUpload" parameterType="com.project.board.board.model.BoardDto">

        INSERT INTO TB_BOARD ( BOARD_SEQ
                             , BOARD_TITLE
                             , BOARD_CONTENT
                             , created_DATE
                             , board_Views
                             , category
                             , MEMBER_SEQ)
        VALUES (
                NEXTVAL('BOARD_SEQ')
               , #{boardTitle}
               , #{boardContent}
               , CURRENT_TIMESTAMP
               , #{boardViews}
               , #{category}
               , #{memberDto.memberSeq})
    </insert>
    <select id="getAllBoards" resultType="com.project.board.board.model.BoardDto">
        SELECT * FROM TB_BOARD
    </select>
</mapper>