<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.board.board.mapper.BoardMapper">

    <resultMap id="boardResultMap" type="com.project.board.board.model.BoardDto">
        <id property="boardSeq" column="BOARD_SEQ"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="boardViews" column="BOARD_VIEWS"/>
        <result property="category" column="CATEGORY"/>
        <association property="memberDto" javaType="com.project.board.member.model.MemberDto">
            <result property="memberId" column="MEMBER_ID"/>
        </association>
    </resultMap>

    <insert id="postUpload" parameterType="com.project.board.board.model.BoardDto">
        INSERT INTO TB_BOARD ( BOARD_SEQ
        , BOARD_TITLE
        , BOARD_CONTENT
        , created_DATE
        , board_Views
        , category
        , MEMBER_SEQ
        , FILENAME
        , FILE_DATA
        ) VALUES (
        NEXTVAL('BOARD_SEQ')
        , #{boardTitle}
        , #{boardContent}
        , CURRENT_TIMESTAMP
        , #{boardViews}
        , #{category}
        , #{memberDto.memberSeq}
        , #{filename}
        , #{fileData, jdbcType=BLOB})
    </insert>
    <select id="getAllBoards" resultMap="boardResultMap">
        SELECT
        B.BOARD_SEQ,
        B.BOARD_TITLE,
        B.BOARD_CONTENT,
        B.CREATED_DATE,
        B.BOARD_VIEWS,
        B.CATEGORY,
        M.MEMBER_ID
        FROM TB_BOARD B
        JOIN TB_MEMBER M ON B.MEMBER_SEQ = M.MEMBER_SEQ
        ORDER BY BOARD_SEQ DESC
    </select>
    <select id="getBoardBySeq" resultMap="boardResultMap" parameterType="long">
        SELECT
        B.BOARD_SEQ,
        B.BOARD_TITLE,
        B.BOARD_CONTENT,
        B.CREATED_DATE,
        B.BOARD_VIEWS,
        B.CATEGORY,
        M.MEMBER_ID
        FROM TB_BOARD B
        JOIN TB_MEMBER M ON B.MEMBER_SEQ = M.MEMBER_SEQ
        WHERE B.BOARD_SEQ = #{boardSeq}
    </select>

    <update id="increaseViews">
        UPDATE TB_BOARD
        SET BOARD_VIEWS = BOARD_VIEWS + 1
        WHERE BOARD_SEQ = #{boardSeq}
    </update>
    <!-- 게시글과 댓글을 함께 조회 -->
    <select id="getBoardWithComments" parameterType="Long" resultType="com.project.board.board.model.BoardDto">
        SELECT
        B.BOARD_SEQ,
        B.BOARD_TITLE,
        B.BOARD_CONTENT,
        B.CREATED_DATE,
        B.BOARD_VIEWS,
        B.CATEGORY,
        B.MEMBER_SEQ,
        B.FILENAME,
        B.FILE_DATA,
        C.COMMENT_SEQ,
        C.CONTENT AS COMMENT_CONTENT,
        C.CREATED_DATE AS COMMENT_CREATED_DATE,
        C.MEMBER_SEQ AS COMMENT_MEMBER_SEQ
        FROM TB_BOARD B
        LEFT JOIN TB_COMMENT C ON B.BOARD_SEQ = C.BOARD_SEQ
        WHERE B.BOARD_SEQ = #{boardSeq}
    </select>
    <select id="getCommentsByBoardSeq" resultType="com.project.board.board.model.CommentDto">
        SELECT COMMENT_SEQ, CONTENT, CREATED_DATE, MEMBER_SEQ
        FROM TB_COMMENT
        WHERE BOARD_SEQ = #{boardSeq}
    </select>
</mapper>