<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.newboard.board.model.dao.BoardDao">
    <resultMap id="BoardResultSet" type="BoardVo">
        <result property="boardSeq" column="BOARD_SEQ"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="writeDate" column="WRITE_DATE"/>
        <result property="boardCount" column="BOARD_COUNT"/>
        <result column="category" property="category"/>
        <association property="memberVo" javaType="MemberVo">
            <result property="memberSeq" column="MEMBER_SEQ"/>
            <result property="memberId" column="MEMBER_ID"/>
            <result property="memberName" column="MEMBER_NAME"/>
        </association>
    </resultMap>

    <insert id="postUpload" parameterType="BoardVo">

        INSERT INTO TB_BOARD ( BOARD_SEQ
                             , BOARD_TITLE
                             , BOARD_CONTENT
                             , WRITE_DATE
                             , BOARD_COUNT
                             , category
                             , MEMBER_SEQ)
        VALUES (
                NEXTVAL('BOARD_SEQ')
               , #{boardTitle}
               , #{boardContent}
               , sysdate
               , #{boardCount}
               , #{category}
               , #{memberVo.memberSeq})
    </insert>

</mapper>