<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.board.board.mapper.LikeMapper">
    <insert id="insertLike" parameterType="com.project.board.board.model.LikeDto">
        INSERT INTO lTB_LIKE (
        LIKE_SEQ
        , MEMBER_SEQ
        , BOARD_SEQ
        , CREATED_AT
        ) VALUES (
        NEXTVAL('LIKE_SEQ')
        , #{memberDto.memberSeq}
        , #{boardDto.boardSeq}
        , CURRENT_TIMESTAMP
        )
    </insert>
</mapper>