<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.board.member.mapper.MemberMapper">

    <insert id="addMember" parameterType="com.project.board.member.model.MemberDto">
        INSERT INTO TB_MEMBER ( MEMBER_SEQ
        , MEMBER_ID
        , MEMBER_NICKNAME
        , MEMBER_FILENAME
        , MEMBER_NAME
        , MEMBER_PWD
        ) VALUES (
        NEXTVAL('MEMBER_SEQ')
        , #{memberId}
        , #{memberNickname}
        , #{memberFilename}
        , #{memberName}
        , #{memberPwd})
    </insert>

    <select id="getMemberById" resultType="com.project.board.member.model.MemberDto">
        SELECT MEMBER_SEQ
        , MEMBER_ID
        , MEMBER_NAME
        , MEMBER_NICKNAME
        , MEMBER_FILENAME
        , MEMBER_PWD
        FROM TB_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="getMemberList" resultType="com.project.board.member.model.MemberDto">
        SELECT MEMBER_SEQ
        , MEMBER_ID
        , MEMBER_NAME
        , MEMBER_NICKNAME
        , MEMBER_FILENAME
        , MEMBER_PWD
        FROM TB_MEMBER
    </select>
    <select id="getMemberBySeq" resultType="com.project.board.member.model.MemberDto">
        SELECT *
        FROM TB_MEMBER
        WHERE MEMBER_SEQ = #{memberSeq}
    </select>

    <select id="countMemberId" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM TB_MEMBER WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="countMemberNickname" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM TB_MEMBER WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>


    <update id="updateNickname" parameterType="com.project.board.member.model.MemberDto">
        UPDATE TB_MEMBER
        SET MEMBER_NICKNAME = #{newNickname}
        WHERE MEMBER_SEQ = #{memberSeq}
    </update>

    <update id="updateProfileImage" parameterType="java.util.Map">
        UPDATE TB_MEMBER
        SET MEMBER_FILENAME = #{fileName}
        HERE MEMBER_SEQ = #{memberSeq}
    </update>

</mapper>