<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/resource/css/keywords.css}"/>
    <link rel="stylesheet" th:href="@{/resource/css/newHome.css}"/>

</head>

<!-- Header-->
<header>
    <div class="container">
        <div class="header_wrap">
            <div class="header_inner">
                <div class="header_menu">
                    <div class="header_left">
                        <a th:onclick="|location.href='@{/}'|">
                            <span>Home</span>
                        </a>
                        <a th:onclick="|location.href='@{/board/boardList}'|">
                            <span>전체글</span>
                        </a>
                        <a th:onclick="|location.href='@{/board/boardForm}'|">
                            <span>글쓰기</span>
                        </a>
                    </div>
                    <div class="header_right">
                        <div class="search-container">
                            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
                            <span id="search-icon" class="icon" onclick="performSearch()">
                             <svg width="25px" height="35px" viewBox="0 0 24 24" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.5 18.5L22 22" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M6.75 3.27093C8.14732 2.46262 9.76964 2 11.5 2C16.7467 2 21 6.25329 21 11.5C21 16.7467 16.7467 21 11.5 21C6.25329 21 2 16.7467 2 11.5C2 9.76964 2.46262 8.14732 3.27093 6.75"
                                      stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                            </span>
                        </div>

                        <div class="header_buttons">
                            <button class="btn_login" type="button"
                                    th:onclick="|location.href='@{/member/memberLoginForm}'|">로그인
                            </button>
                            <button class="btn_join" type="button"
                                    th:onclick="|location.href='@{/member/memberJoinForm}'|">회원가입
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Keyword section-->
<div class="keywords">
    <div class="text-center">
        <h3 class="txt_brunch tit_brunch"> KEYWORD</h3>
        <p class="desc_brunch"><span class="txt_brunch">키워드로 분류된 다양한 글 모음</span></p>
    </div>
    <div class="keyword_list">
        <div class="button-row">
            <button class="custom-button">지구한바퀴<br>해외여행</button>
            <button class="custom-button">방방곡곡<br>국내여행</button>
            <button class="custom-button ">오늘의<br>책</button>
            <button class="custom-button ">취향저격<br>영화</button>
            <button class="custom-button ">문화생활<br>뮤지컬·연극</button>
            <button class="custom-button ">스포츠</button>
            <button class="custom-button ">나만의<br>맛집</button>
            <button class="custom-button ">요리·레시피</button>
            <button class="custom-button">사진·촬영</button>
        </div>
        <div class="button-row">
            <button class="custom-button ">사랑·이별</button>
            <button class="custom-button">육아<br>이야기</button>
            <button class="custom-button">직장인의<br>하루</button>
            <button class="custom-button">반려동물</button>
            <button class="custom-button">감성 에세이</button>
            <button class="custom-button">시사·이슈</button>
            <button class="custom-button">IT<br>트렌드</button>
            <button class="custom-button">건강·운동</button>
            <button class="custom-button">인테리어<br>집들이</button>

        </div>
    </div>
</div>

<!-- Blog recommend section-->
<div class="slider-container">
    <div class="recommend_articles">
        <div class="text-center">
            <h3 class="txt_brunch tit_brunch">RECOMMENDED ARTICLES</h3>
            <p class="desc_brunch"><span class="txt_brunch">갓 구워낸 따끈따끈한 추천글을 만나보세요</span></p>
        </div>
        <!--        <div>-->
        <!--            <div class="slider-track">-->
        <!--                <div class="slider-item">-->

        <!--                    <a href="" class="link_slide" target="_blank">-->
        <!--                        <div class="img_articles">-->
        <!--                            <img src="" width="240" alt="사진">-->
        <!--                        </div>-->
        <!--                        <strong class="tit_subject">제목</strong>-->
        <!--                        <p class="desc_subject">내용 </p>-->
        <!--                        <span class="info_by"><span class="ico_by">by</span>&nbsp; memberID</span>-->
        <!--                    </a>-->
        <!--                </div>-->

        <!--                <div class="slider-item">2</div>-->
        <!--                <div class="slider-item">3</div>-->
        <!--                <div class="slider-item">4</div>-->
        <!--                <div class="slider-item">5</div>-->
        <!--                <div class="slider-item">6</div>-->
        <!--                <div class="slider-item">7</div>-->
        <!--                <div class="slider-item">8</div>-->
        <!--                <div class="slider-item">9</div>-->
        <!--                <div class="slider-item">10</div>-->
        <!--                <div class="slider-item">11</div>-->
        <!--                <div class="slider-item">12</div>-->
        <!--                <div class="slider-item">13</div>-->
        <!--                <div class="slider-item">14</div>-->
        <!--                <div class="slider-item">15</div>-->
        <!--                <div class="slider-item">16</div>-->
        <!--                <div class="slider-item">17</div>-->
        <!--                <div class="slider-item">18</div>-->
        <!--                <div class="slider-item">19</div>-->
        <!--                <div class="slider-item">20</div>-->
        <!--                <div class="slider-item">21</div>-->
        <!--                <div class="slider-item">22</div>-->
        <!--                <div class="slider-item">23</div>-->
        <!--                <div class="slider-item">24</div>-->
        <!--                <div class="slider-item">25</div>-->
        <!--                <div class="slider-item">26</div>-->
        <!--                <div class="slider-item">27</div>-->
        <!--                <div class="slider-item">28</div>-->
        <!--                <div class="slider-item">29</div>-->
        <!--                <div class="slider-item">30</div>-->
        <!--                &lt;!&ndash; Add more slider items as needed &ndash;&gt;-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <button class="slider-prev">Previous</button>-->
        <!--                <button class="slider-next">Next</button>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
</main>


</body>
</html>
