<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 에디터</title>
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="UTF-8">
    </script>
</head>
<body>

<form action="" method="post">
    <div id="smarteditor">
        <textarea name="editorText" id="editorText"
                  rows="20" cols="10"
                  placeholder="내용을 입력해주세요"
                  style="width: 500px;"></textarea>
    </div>

    <input type="button"/>
</form>
<script>
    let oEditors= []
    smartEditor = function(){
        console.log("Naver SmartEditor")
        nhn.husky.EZCreator.createIniFrame({
            oAppRef: oEditors,
            elPlaceHolder: "editorText",
            sSkinURI:"/smarteditor/SmartEditor2Skin.html",
            fCreator:"SmartEditor2"
        })
       }
    $(document).ready(function(){
        smartEditor()
    })
</script>
</body>
</html>