<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/resource/css/myPage.css}"/>
</head>
<!-- Header-->
<div th:if="${session.loggedIn}">
    <div th:replace="views/fragments/LoggedIn"></div>
</div>

<body>
<div class="profile_container">
    <div class="profile">
        <div class="image_wrap">
            <!--        <img id="profileImageDisplay" src="/resource/images/default-profile.png" >

                    &lt;!&ndash; 프로필 이미지 업로드 버튼 &ndash;&gt;
                    <input type="file" id="profileImage" accept="image/*">
                    <button class="btn_upload" onclick="uploadProfileImage()"> 업로드</button>-->

          <!--  &lt;!&ndash; 프로필 사진 표시 &ndash;&gt;
            <img src="${user.memberFilename}" alt="프로필 사진"/>


            &lt;!&ndash; 프로필 사진 업로드 폼 &ndash;&gt;
            <form action="/myPage/uploadProfile" method="post" enctype="multipart/form-data">
                <input type="file" name="profileImage" accept="image/*" onchange="previewImage(event)">
                <input type="hidden" name="memberSeq" th:value="${user.memberSeq}">
                <button type="submit" class="btn_upload">프로필 사진 업로드</button>
            </form>

            &lt;!&ndash; 이미지 미리 보기 영역 &ndash;&gt;
            <img id="preview" src="#" alt="프로필 사진 미리 보기" style="display: none; max-width: 200px; max-height: 200px; border-radius: 50%;">-->


            <!-- 프로필 사진 표시 -->
            <div id="profilePicture" class="profile-picture">
                <img id="currentPicture" src="${user.memberFilename}" alt="프로필 사진"/>
            </div>

            <!-- 프로필 사진 업로드 폼 -->
            <form action="/myPage/uploadProfile" method="post" enctype="multipart/form-data">
                <input type="file" name="profileImage" accept="image/*" onchange="previewImage(event)">
                <input type="hidden" name="memberSeq" th:value="${user.memberSeq}">
                <button type="submit" class="btn_upload">프로필 사진 업로드</button>
            </form>






            <button class="btn_delete" onclick="deleteProfileImage()">삭제</button>

        </div>
        <div class="profile_inner">
            <div class="profile_modify">
                <form th:action="@{/myPage/updateNickname}" method="post">
                    <input type="hidden" name="memberSeq" th:value="${user.memberSeq}">
                    <input type="text" name="newNickname" th:value="${user.memberNickname}" placeholder="새로운 닉네임을 입력하세요"
                           required>
                    <button type="submit">변경</button>
                </form>

            </div>
            <div class="menu_wrap">
                <div class="btn_menu">
                    <a th:onclick="|location.href='@{/myPage/posts/{memberSeq}(memberSeq=${session.memberSeq})}'|">
                        <span class="btn_post">작성한 글</span>
                    </a>
                    <a th:onclick="|location.href='@{/myPage/myComments/{memberSeq}(memberSeq=${session.memberSeq})}'|">
                        <span class="btn_comment">댓글 단 글</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="menu_container">
        <div class="menu_list">
            <table class="searchList">
                <thead class="list_Header">
                <tr>
                    <th class="category">카테고리</th>
                    <th class="title">제목</th>
                    <th class="comment">댓글</th>
                    <th class="date">작성일</th>
                    <th class="count">조회</th>
                </tr>
                </thead>
                <tbody class="list_main">
                <tr th:each="post : ${myPosts}">
                    <td th:text="${post.category}">카테고리</td>
                    <td th:text="${post.boardTitle}">제목</td>
                    <td>0</td>
                    <td th:text="${post.createdDate}">작성일</td>
                    <td th:text="${post.boardViews}">조회</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    <!--이미지 미리 보기 함수-->

                // 이미지 미리 보기 함수
                function previewImage(event) {
                    var reader = new FileReader();
                    reader.onload = function() {
                        var preview = document.getElementById('currentPicture');
                        preview.src = reader.result;
                    }
                    reader.readAsDataURL(event.target.files[0]);
                }


</script>
</body>
</html>